html::-webkit-scrollbar {
  width: 8px; 
}

html::-webkit-scrollbar-track {
  background: #1c1c1c; 
}

html::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px;
}

html {
  scrollbar-width: 6px; 
  scrollbar-color: #555 #1c1c1c; 
}

body {
  background-color: #131415;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 1.05rem, 24px);
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  height: 100%;
}

.header__wraper {
}

header {
  background-color: #1f2123;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20vw;
  font-size: 15px;
  font-weight: 500;
  border-bottom: gray 1px solid;

  .main a {
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 80px;
    padding: 7px;
    border-radius: 20%;
  }

  .bar {
    background-color: #3c3e3f;
    height: 30px;
    width: 2px;
    margin: 0 10px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .header__main-news {
      display: flex;
      flex-grow: 1;
      max-width: 100%;

      ul {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }

    .other {
      display: flex;
      align-items: center;
      gap: 20px;

      .login {
        align-items: center;
        display: flex;
        gap: 10px;

        img {
          max-width: 20px;
        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 5px;

        &__img {
          max-width: 25px;
        }
      }

      .hamburger {
        align-items: center;
        display: flex;
        gap: 10px;
        background-color: #1f2123;

        &__text {
          color: white;
        }

        img {
          max-width: 30px;
        }
      }
    }
  }
}

/* ASIDE */
.header__aside {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #1f2123;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px rgb(79, 79, 79) solid;
  overflow-x: scroll;
  position: relative;
  gap: 15px;
  width: 100%;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;

  &.left {
    top: 1vh;
    right: 9vw;
  }

  &.right {
    top: 1vh;
    right: 3vw;
  }
}

.aside__list {
  display: flex;
  gap: 15px;
  width: 100%;
}

.aside__list-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin: 5px 0 0 0;
  border-bottom: 1px solid #333;
  gap: 5px;
  min-height: 100px;
  min-width: 350px;
}

.main__text {
  font-size: 16px;
  margin-right: 10px;
}

.news-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.time-ago {
  font-size: 14px;
}

.all__news {
  display: flex;
  gap: 30px;
  padding: 40px 20vw;
  width: 100%;
  margin-bottom: 30px;
}

.rightnow {
  background-color: #1f2123;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 3rem;

  &__header {
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
    align-items: center;

    h2 {
      padding: 5px;
      font-weight: 700;
    }
  }

  &__content {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 140%;
  }

  .time {
    font-size: 16px;
  }
  .redtext {
    background-color: rgb(233, 0, 0);
    border-radius: 8px;
  }
}

.sided__content {
  background-color: #131415;
  padding-top: 0;
  display: block;
  font-weight: 300;
  max-width: 30vw;
  flex-grow: 1;

  &-header {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
  }
}
.sided__content-headerwrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.number {
  background-color: white;
  color: black;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
}

.message {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 25px;

  &__content {
    margin-left: 20px;
  }

  &__header h4 {
    font-size: 16px;
  }
}

.centred__contentnews {
  margin-bottom: 60px;
  max-width: 35vw;

  &-el {
    background-color: #1f2123;
    border-radius: 10px;
    margin-bottom: 40px;
  }
}

.imgbox {
  width: 100%;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.element__content {
  padding: 15px;
  line-height: 150%;
}

.dopinfo {
  padding: 15px;
  font-size: 12px;
}

.theme {
  margin-bottom: 20px;
}

.el__news-header {
  margin-bottom: 10px;
  font-size: 24px;
}

.news__text {
  margin-bottom: 10px;
}

// DetailedNews styles
.centred__detailed-news {
  max-width: 35vw;
}

.detailed__news-header {
  margin-bottom: 10px;

  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.detailed__news-img {
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.newsgivenby {
  font-weight: 700;
  margin-bottom: 15px;
}

.detailed__news-timeago {
  font-size: 15px;
  margin-bottom: 30px;
}

.detailed__news-text {
  line-height: 1.6; 
  font-size: 1.1rem;
  margin: 1rem 0;
}



/* MEDIA QUERIES */
@media (max-width: 1250px) {
  header {
    flex-direction: column;
    padding: 10px;

    .header__main-news,
    .search,
    .logo__text,
    .bar,
    .sided__content {
      display: none !important;
    }

    .wrapper {
      justify-content: center;
    }

    .main {
      justify-content: center;
    }

    .hamburger {
      margin-left: auto;
    }
  }

  .all__news, .centred__detailed-news {
    display: block;
    max-width: 100%;
    padding: 10px;
  }
  .centred__contentnews {
    max-width: 100%!important;
  }
  .rightnow {
    margin-bottom: 3rem;
  }

  #elNum4 {
    display: none;
  }

  .sided__content {
    display: none;
  }
}
@media (max-width: 450px) {
  #elNum3 {
    display: none;
  }
  .scroll-button {
    display: none;
  }
}
