.searchaside {
  background-color: #1f2123;
  padding: 10px;

  &__input {
    height: 48px;
    line-height: 26px;
    font-size: 20px;
    padding: 10px 48px 10px 14px;
    background-color: #131415;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    width: 100%;
  }
  &__article {
    border-bottom: #29ccde 5px solid;
    width: 100px;    
  }
  .input__container {
    padding: 40px 0px 0px;
  }
}
.searched__element {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #303233;
  border-radius: 10px;
}
.searched__element h1 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.searched__element h2 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}
.searched__element p {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 671px) {
  .input__container {
    width: 90%;
    max-width: 880px;
    margin: 0px auto;
  }
}
